html {
			font-size: 24px;
		}

main {
				/*меняем направление основной оси элемента отображающего основной контент*/
				flex-direction: column;
			}

			main>aside {
				/*зададим размер видимому элементу aside по основной оси*/
				flex-basis: 20vh;
			}

			main>section {
				/*зададим размер основному контенту по основной оси*/
				flex-basis: auto;
				/*изменим порядок отображения элементов так, чтобы контент находился выше*/
				order: -1;
			}