html {
			font-size: 20px;
		}

main>section+aside{
		        /*спрячем правый элемент на всех устройствах, с шириной 960px и меньше*/
		        display: none;
		    }
		    main>aside{
		        /*зададим размер левой части по основной оси в процентах*/
		        flex-basis: 30%;
		    }
		    main>section{
		        /*зададим размер центральной части по основной оси в процентах*/
		        flex-basis: 70%;
		    }